/* fonts for whole web */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


/* shared styles */
header,
main {
    margin: 50px 150px;
}

.nav-title-orange,
.home {
    color: #FF5400;
}

* {
    font-family: "Mulish", serif;
}

.common-button {
    font-size: 16px;
    background-color: #FF5400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.common-section-heading {
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}

.common-description {
    font-size: 16px;
    color: rgba(19, 19, 24, 0.7);
}

.common-sub-title {
    font-size: 24px;
    font-weight: 800;
    color: #131318;
}


/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
}

nav>ul {
    display: flex;
}

.nav-title {
    font-size: 36px;
    font-weight: 800;
}


/* banner styles */
.banner {
    background-image: url(Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
}

.banner-title {
    font-size: 64px;
    font-weight: 900px;
    color: white;
}

.banner-description {
    font-size: 16px;
    color: white;
}

.banner-form {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.input {
    height: 52px;
    width: 174px;
    border-radius: 8px;
    border: none;
}


/* popular tours styles */
.tour-button {
    font-size: 20px;
    font-weight: 900;
}

.popular-tours {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.popular-tours-description {
    padding-right: 150px;
}


/* choose your destination starts here */
.row img {
    height: 100%;
    width: 100%;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.destination-content {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
}


/* why choose us styles */
.choose-content {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.choose-box-container img {
    height: 50px;
    width: 50px;
}

.choose-box {
    height: 284px;
    width: 90%;
    border-radius: 16px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
}

.orangy {
    background-color: #FBF7F3;
}

#blueyi {
    background-color: #F1F8F9;
}

.choose-box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.choose-box-container #orangy {
    margin-left: 315px;
}


/* perfect place styles */
.perfect-place-content{
    width: 50%;
}
.perfect-place-bullets{
    font-size: 14px;
    font-weight: 700;
}
.perfect-place{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    gap: 50px;
}
.perfect-place>video{
    width: 50%;
}


@media screen and (max-width:600px) {

    header,
    main {
        margin: 0;
    }

    /* nav part */
    nav>ul {
        display: none;
    }

    /* banner part */
    .banner {
        padding-top: 20px;
    }

    .banner-title {
        font-size: 25px;
        font-weight: 900;
    }

    .banner-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input {
        width: 200px;
    }

    /* popular tour part */
    .popular-tours-title {
        font-size: 20px;
        font-weight: 800;
    }

    .tour-button {
        margin-top: 25px;
    }

    .popular-tours {
        flex-direction: column;
    }

    .popular-tours-description {
        padding-right: 0;
    }

    .popular-tours-img>img {
        width: 100%;
    }

    /* destination part */
    .common-section-heading {
        font-size: 30px;
    }

    .row {
        flex-direction: column;
    }

    .choose-box-container {
        display: flex;
        flex-direction: column;
    }

    .choose-box-container #orangy {
        margin-left: 0;
    }

    .choose-box {
        height: 100%;
        width: 80%;
        padding-bottom: 20px;
    }
}